##==============================================================================
## COLORS
##==============================================================================

font_color_user="black-gray"
background_user="magenta"
texteffect_user="bold"

font_color_host="black-gray"
background_host="light-magenta"
texteffect_host="bold"

font_color_pwd="dark-gray"
background_pwd="white"
texteffect_pwd="bold"

font_color_git="blue"
background_git="dark-red"
texteffect_git="bold"

font_color_input="blue"
background_input="none"
texteffect_input="bold"

